<header *ngIf="navData">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="#" routerLink="{{ navData.brandRouteLink }}" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="{{ navData.brandImageLink }}" width="40" height="32" class="me-2" ><title>Bootstrap</title>
        <span class="fs-4">Vega</span>
      </a>

      <nav *ngIf="navData.navItems.length > 0" class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a 
          *ngFor="let item of navData.navItems" 
          class="me-3 py-2 text-dark text-decoration-none text-capitalize" 
          href="#" routerLink="{{ item.navLink }}" [routerLinkActive]="'active'">{{ item.navText }}</a>
      </nav>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center" *ngIf="navData.showBigBanner">
      <h1 class="display-4 fw-normal text-capitalize">{{ navData.bigBanner.primaryText }}</h1>
      <p class="fs-5 text-muted">{{ navData.bigBanner.secondaryTextLine }}</p>
    </div>
</header>