$gradient-1: linear-gradient(
  143deg,
  rgba(115, 46, 205, 0.603) 0%,
  rgba(87, 57, 209, 0.603) 21%,
  rgba(86, 48, 237, 0.603) 60%,
  rgba(70, 48, 237, 0.603) 88%
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  font-weight: bold !important;
}

.nav-list {
  margin: 0px;
  width: 100%;
  padding: 10px 0 10px 0;
  &--item {
    position: relative;
    display: flex;
    column-gap: 10px;
    align-items: center;
    list-style: none;
    color: rgb(253, 251, 251);
    height: 35px;
    padding-left: 20px;
    z-index: 1;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background: $gradient-1;
      z-index: -1;
      transition: all 0.3s ease-in-out;
      border-left: 3px solid rgb(255, 251, 0);
    }

    &:hover {
      .icon{
        color: rgb(255, 251, 0)!important;
      }
      &::after {
        opacity: 1 !important;
      }
    }
  }
}
