$color-blue-500: rgb(72, 72, 243);

/* color-grays */
$color-gray-50: #f9fafb;
$color-gray-100: #f3f4f6;
$color-gray-200: #e5e7eb;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-700: #374151;
$color-gray-800: #1f2937;
$color-gray-900: #111827;

/* color blues */
$color-blue-50: #eff6ff;
$color-blue-100: #dbeafe;
$color-blue-200: #bfdbfe;
$color-blue-300: #93c5fd;
$color-blue-400: #60a5fa;
$color-blue-500: #3b82f6;
$color-blue-600: #2563eb;
$color-blue-700: #1d4ed8;
$color-blue-800: #1e40af;
$color-blue-900: #1e3a8a;

/* color red */
$color-red-50: #fef2f2;
$color-red-100: #fee2e2;
$color-red-200: #fecaca;
$color-red-300: #fca5a5;
$color-red-400: #f87171;
$color-red-500: #ef4444;
$color-red-600: #dc2626;
$color-red-700: #b91c1c;
$color-red-800: #991b1b;
$color-red-900: #7f1d1d;

/* color green */
$color-green-50: #ecfdf5;
$color-green-100: #d1fae5;
$color-green-200: #a7f3d0;
$color-green-300: #6ee7b7;
$color-green-400: #34d399;
$color-green-500: #10b981;
$color-green-600: #059669;
$color-green-700: #047857;
$color-green-800: #065f46;
$color-green-900: #064e3b;

/* gradient */
$color-signature-gradient: linear-gradient(
  90deg,
  rgba(0, 7, 36, 1) 0%,
  rgba(9, 9, 121, 1) 0%,
  rgba(4, 113, 189, 1) 0%,
  rgba(4, 113, 189, 1) 41%,
  rgba(2, 158, 218, 1) 100%,
  rgba(1, 174, 229, 1) 100%,
  rgba(0, 208, 252, 1) 100%,
  rgba(0, 212, 255, 1) 100%
);
